body{
    width: 50%;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
.background {
    background-image: url(bg-2.jpg);
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-image: url(bg-1.jpg);
    height: 80vh;
    width: 60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-size: xx-large;
    padding-top: 57px;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(31, 18, 18);
}

.main{
    display:flex;
    flex-direction: column;
    padding-left: 100px;
}

/* .item-style{
    font-size: 15pt ;
    color:rgb(165, 17, 79);
} */

.list {
    color: rgb(61, 27, 27);
    font-size: 20px;
    padding: 2px;
    width: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

